html {
	font-family : sans-serif;
}

.header {
	margin-bottom: 0.5em;
}

.tabs_container {
	white-space: nowrap;
	overflow-x: auto;
}

.tabs_container::-webkit-scrollbar { display: none; }
.tabs_container { overflow: -moz-scrollbars-none; }
.tabs_container { -ms-overflow-style: none; }

.tabs_container > div {
	display:inline-block;
	padding: 5px;
	background-color:lightgray;
	color:#404040;
}

.tabs_container > div.selected_tab {
	background-color:#F0F0F0;
	color:black;
}

.panes_container {
	overflow:hidden;
	white-space: nowrap;
}

.panes_container > div {
	position:relative;
	box-sizing:border-box;
	padding:5px;
	display: inline-block;
	vertical-align:top;
	background-color: #F0F0F0;
	width:100%;
	padding-bottom:10000px;
	margin-bottom:-9995px;
}

.copy_paste_options, .share_options {
	/* border: solid 1px black; */
	padding: 5px;
	margin: 2px 0px 2px;
	background-color: white;
}

.slider_container {
	display:flex;
}

.slider_container > input {
	flex-grow:1;
	margin: 0;
}

.slider_container > div {
	text-align:center;
	align-self:center;
}

.pane {
	white-space:normal;
}


#sequence_title {
	width:20em;
}

#comments_textarea {
	height: 2em;
	width:100%;
	max-width:600px;
	font-family:sans-serif;
	box-sizing: border-box;
}
#comments_textarea.enlarged {
	max-width:100%;
	height:6em;
}

#bookmark_title_pseudo {
	width: 0px;
	visibility: hidden;
}

.bookmark_input {
	width: 120px;
}

#floor_container {
	width:100%;
	max-width:600px;
  margin:auto;
  position: relative;
}
#svg_container {
	position: relative;
}

#my_svg {
  touch-action:none;
}

.animate_click_me {
	animation: blink-twice 0.3s;
}
.animate_delay_and_dashed {
	animation: delay-and-dashed 0.7s;
}

.primary_marker {
	stroke:black;
	stroke-width:0.01;
}
.primary_marker.draggable {
	cursor: move;
}
.primary_marker.clickable {
	cursor: pointer;
}

.primary_marker.gender_m {
	fill : blue;
}
.primary_marker.gender_w {
	fill : green;
}
.marker_faded {
	opacity: 0.25;
}
.setter_circle {
	stroke:black;
	stroke-width:0.025;
	fill: none;
}

.fade_in_out_hint {
	animation: fade-in-and-out 1s;
	opacity: 0;
}

.pointer_events_off {
	pointer-events: none;
}

.marker_label {
	font-size: 0.55px;
	text-anchor: middle;
	fill: white;
	pointer-events: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.audience_top_bottom_div {
	text-align: center;
	cursor: pointer;
}

#lasso_path {
	fill: none;
	stroke: black;
	stroke-width: 0.025;
	stroke-dasharray: 0.2;
}
#edit_pattern_rect {
	cursor: move;
	fill:transparent;
	stroke:black;
	stroke-width:0.025;
	stroke-dasharray:0.2;
}
.touch.handle.circle {
	stroke: black;
	stroke-width: 0.02;
	fill: white;
	cursor:pointer;
 }
 .touch.handle.circle.move {
	 cursor:move;
 }
 .touch.handle.text {
	 font-family: "Courier";
	 fill:black;
	 text-anchor: middle;
	 font-size: 1.5px;
	 pointer-events: none;
 }
 .touch.handle.text.rotate {
	 font-size: 1.1px;
 }
.gcd {
	fill:black;
	font-size: 0.8px;
	font-weight: bold;
	pointer-events: none;
	dominant-baseline: middle;
	text-anchor: middle;
}
.gcd.at_edge {
	font-size: 0.6px;
	font-weight: normal;
}
.spacing_whiteout {
	fill:white;
	stroke:none;
}

 .grid_line {
	stroke: lightgray;
	stroke-width: 0.025;
 }
 .grid_line.n0 {
	stroke: black;
	stroke-width: 0.035;
 }
 .grid_line.n3, .grid_line.n-3, .grid_line.n6, .grid_line.n-6, .grid_line.n9, .grid_line.n-9, .grid_line.n12, .grid_line.n-12, .grid_line.n15, .grid_line.n-15 {
	stroke: rgb(92, 92, 92);
 }

 #swiping_container {
	height:100%;
	position:absolute;
	left:0;
	right:0;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	touch-action: pan-y pinch-zoom;
}
#swiping_container::-webkit-scrollbar { width: 0 !important }

.swiping_div {
	pointer-events: none;
	display:inline-block;
	height:100%;
  width: 50%;
	/* border: 1px solid black; */
	box-sizing: border-box;
	scroll-snap-align: center;
 }

.swiping_padding {
	pointer-events: none;
	display:inline-block;
	height:100%;
	width: 25%;
	/* border: 1px solid black; */
	box-sizing: border-box;
 }

.scroll_container {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position:relative;
	-webkit-scroll-snap-type: x mandatory;
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
}

.scroll_container::-webkit-scrollbar { height: 0 !important }

.thumbnails_wrapper {
	position: relative;
	overflow-x: auto;
	flex-grow: 1;
}

.navigation_bar {
	display: flex;
	margin-bottom: 4px;
}

.jump_button {
	border: 0.5px solid black;
	min-width: 55px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
	font-size: smaller;
	position: relative;
	cursor: pointer;
	margin-left: 10px;
}

.jump_button > div {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	pointer-events: none;
}

.hint {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.7);
	z-index:1000;
	pointer-events: none;
}

.hint_text {
	color: dimgray;
	z-index:1000;
	font-weight: bold;
	font-size: x-large;
	font-family: Verdana, Geneva, sans-serif;
	pointer-events: none;
}

.hint_arrow {
	font-size: xx-large;
}

.snapping_div {
	display:inline-block;
	padding:0;
	/* border: 1px solid black; */
	box-sizing: border-box;
}
.scroll_container.snap_x_dir .snapping_div {
	scroll-snap-align: start;
}

.mini_svg_container {
	display:inline-block;
}
.pattern_checkbox_container {
	text-align:center;
}

.mini_svg {
	width:60px;
  position:relative;
	box-sizing: border-box;
	vertical-align:top; /* This prevents pesky little margin under inline-block styled element */
}
.mini_svg.current {
	z-index:10;
	outline:1.5px solid deepskyblue;
	outline-offset: -1.5px;
}

#pattern_comments {
	margin : 0.5em 0;
	position: relative;
}
#pattern_text {
	height: 4em;
	line-height: 1.25em;
	white-space: pre-line;
	overflow-x : hidden;
	overflow-y : scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
#pattern_text::-webkit-scrollbar { width: 0 !important }
#pattern_text::first-line {
	font-weight: bold;
}
#pattern_comments_fading {
	box-sizing: content-box;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(2em, rgba(255, 255, 255, 0)), to(white));
  background:-o-linear-gradient(rgba(255, 255, 255, 0) 2em, white);
  background:linear-gradient(rgba(255, 255, 255, 0) 2em, white);
	pointer-events:none;
}

.myoverlay {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index:1000;
}

.mymodal {
	position: absolute;
  width: 100%;
  max-height: calc(90%);
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
	font-family: sans-serif;
	text-align: center;
	z-index:1000;
	pointer-events:none;
	outline: none;
}

.modal_header {
  margin-left: 10px;
  margin-right: 10px;
	text-align: left;
	font-size: large;
}
.modal_header button {
	pointer-events: auto;
}

.content_container {
  margin: 10px;
  overflow-y: auto;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.grid_item {
  padding: 5px;
  border: 1px solid black;
	background: rgb(255, 255, 255);
	cursor: pointer;
	pointer-events: auto;
}

.grid_secondary {
  font-size: smaller;
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes blink-twice {
	0%   { opacity: 0 }
	33%  { opacity: 0 }
	34%  { opacity: 1 }
	66%  { opacity: 1 }
	67%  { opacity: 0 }
	99%  { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes delay-and-dashed {
	0%   {
		opacity: 0;
		stroke-dasharray: 0.1;
	}
	49%  {
		opacity: 0;
	}
	50%  {
		opacity: 1;
	}
	99%  {
		stroke-dasharray: 0.1;
	}
	100% {
		opacity: 1;
		stroke-dasharray: 0
	}
}
